{% extends "base.html" %}
{% load static %}
{% block title %}Redefinir Senha{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}  
{% block content %}
    <main>
        <div class="container auth-container login-container">
            <h2>Redefinir Senha</h2>
            <p class="instruction">Insira sua nova senha abaixo.</p>
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_new_password1">Nova Senha:</label>
                    {{ form.new_password1 }}
                </div>
                
                <div class="form-group">
                    <label for="id_new_password2">Confirme a Nova Senha:</label>
                    {{ form.new_password2 }}
                </div>
                
                {% if form.errors %}
                    <div class="error">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
    
                <div class="form-group submit">
                    <button type="submit">Redefinir Senha</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
{% block scripts %}
{% endblock %}
