{% extends "base.html" %}
{% load static %}
{% block title %}E-mail Enviado{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div class="container auth-container login-container">
            <h2>E-mail Enviado</h2>
            <p class="instruction">Um e-mail com instruções para redefinir sua senha foi enviado para o endereço informado.</p>
            <a href="{% url 'login' %}" class="auth-link">Voltar para o login</a>
        </div>
    </main>
{% endblock %}
{% block scripts %}
{% endblock %}
