{% extends "base.html" %}
{% load static %}
{% block title %}Senha Redefinida{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div class="container auth-container login-container">
            <h2>Senha Redefinida</h2>
            <p class="instruction">Sua senha foi redefinida com sucesso! Agora você pode fazer login com sua nova senha.</p>
            <a href="{% url 'login' %}" class="auth-link">Voltar para o login</a>
        </div>
    </main>
{% endblock %}
{% block scripts %}
{% endblock %}
