{% extends "base.html" %}
{% load static %}
{% block title %}Redefinir Senha{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div class="container auth-container login-container">
            <h2>Redefinir Senha</h2>
            <p class="instruction">Insira o seu e-mail para receber um link e redefinir sua senha</p>
            <form method="post" action="{% url 'password_reset_form.html' %}">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_email">E-mail:</label>
                    {{ form.email }}
                </div>
                
                {% if form.errors %}
                    <div class="error">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
    
                <div class="form-group submit">
                    <a href="{% url 'login' %}" class="auth-link">Voltar para o login</a>
                    <button type="submit">Enviar link</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}
