@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --color-white: #FFFFFF;
    --color-light-purple: #EFE3FF;
    --color-medium-purple: #7F57B3;
    --color-dark-purple: #695880;
    --color-primary-purple: #8943E6;
    --color-light-gray: #F2F2F2;
    --color-medium-gray: #C9C9C9;
    --color-dark-gray: #48444C;
    --color-dark-purple-gray: #2B2433;
    --color-red: #E83030;
    --box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-grow: 1;
}

header {
    padding: 0.3rem 0;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
}


.logo-container {
    flex: 1;
    text-align: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-links a {
    color: var(--color-dark-gray);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-link{
    margin-right: 100px;
}

.nav-links a:hover {
    color: var(--color-primary-purple);
}

header .logo img {
    margin-top: 15px;
    height: 3rem;
}

.prof {
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--color-primary-purple);
    border-radius: 5px;
    color: var(--color-white);
    font-size: 1rem;
    transition: all 0.3s ease;
    position: absolute;
    right: 2rem; 
    top: 50%;
    transform: translateY(-50%);
}

.prof:hover {
    background-color: var(--color-dark-purple);
}

footer {
    background-color: var(--color-dark-purple-gray);
    color: var(--color-light-gray);
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
}

footer .footer-logo {
    width: 25%;
}

footer .footer-logo img {
    width: 100%;
}

footer .footer-sections {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    width: 60%;
}

footer .footer-column {
    width: 25%;
}

footer .footer-column-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

footer .footer-column-list {
    list-style: none;
}

footer .footer-column-list li {
    font-size: 0.9rem;
}

footer .footer-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-top: 1px solid var(--color-dark-gray);
    text-align: center;
}

footer .footer-copyright a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-white);
    transition: 0.3s all;
}

footer .footer-copyright a:hover {
    color: var(--color-medium-gray);
}

@media (min-width: 769px) and (max-width: 1024px) {
    footer .footer-logo {
        width: 30%;
    }

    footer .footer-column-title,
    footer .footer-copyright a {
        font-size: 0.9rem;
    }

    footer .footer-column-list li {
        font-size: 0.8rem;
    }

    footer .footer-column {
        width: 30%;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-button .prof {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin-top: 1rem;
    }
}

.header-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.toggle-role-button {
    display: inline-block;
    background-color: var(--color-primary-purple);
    color: var(--color-white);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.toggle-role-button:hover {
    background-color: var(--color-dark-purple);
    transform: scale(1.05);
}

#call-to-register button {
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-dark-purple-gray);
    color: var(--color-white);
    font-size: 1rem;
    transition: all 0.3s ease;
    height: 50px;
}

#call-to-login button{
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: 1px solid var(--color-dark-purple-gray);
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-dark-purple-gray);
    font-size: 1rem;
    transition: all 0.3s ease;
    height: 50px;
}

#call-to-register button:hover {
    background-color: black;
    box-shadow: var(--box-shadow);
}

#call-to-login button:hover{
    box-shadow: var(--box-shadow);
    border: 2px solid black;
}

/* Espaçamento entre os botões */
#call-to-login, #call-to-register {
    display: inline-block;
    margin: 0.5rem;
}




@media (max-width: 768px) {
    footer .footer-logo {
        width: 100%;
        max-width: 15em;
    }

    footer .footer-content {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }

    footer .footer-sections {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    footer .footer-column {
        width: 100%;
    }
}
