<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sr. Ciência</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <section class="cabeçario">
            <figure>
                <img src="logo.svg" alt="Sr. Ciência" class="logo">
            </figure>
        </section>
    </header>
    <main>
        <figure>
            <img src="atomo.svg" alt="átomo roxo" class="atomo">
        </figure>
        <figure>
            <img src="saturno.svg" alt="saturno roxo" class="saturno">
        </figure>
        <figure>
            <img src="becker.svg" alt="becker roxo" class="becker">
        </figure>
        <section>
            <div class="titulo_cadastro">
                <h1>Fazer Cadastro</h1>
            </div>
            <div>
                
            </div>
            <div class="cadastro">
                <form>
                        <label>Apelido</label>
                    <div class="input_box">
                        <input type="text" name="apelido" id="apelido" placeholder="Como quer se chamar" required>
                    </div>
                        <label>Nome completo</label>
                    <div class="input_box">
                        <input type="text" name="nome_completo" id="nome_completo" placeholder="Digite seu nome completo" required>
                    </div>
                    <label>Email</label>
                    <div class="input_box">
                        <input type="email" name="email" id="email" placeholder="Digite seu email" required>
                    </div>
                    <label>Senha</label>
                    <div class="input_box">
                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                    </div>
                    <label>Confirmar senha</label>
                    <div class="input_box">
                        <input type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Confirme sua senha" required>
                    </div>
                </form>
                <div class="info">
                    <p>Já possui conta?</p>
                    <a href="login.html">Fazer login</a>
                    <button>Cadastrar-se</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="alinhamento_footer">
                <figure>
                    <img src="logo_ifrn.svg" alt="Logo do IFRN" class="logo_ifrn">
                </figure>
                <div class="alinhamento_elementos">
                    <h3>Apoio:</h3>
                    <p>IFRN - Instituto Federal de Educação, Ciência e Tecnologia do RN</p>
                </div>
                <div class="alinhamento_elementos">
                    <h3>Professores:</h3>
                    <p>José Pedro da Silva Júnior</p>
                    <p>Israel França Cardoso</p>
                    <p>Antônio Marques</p>
                </div>
                <div class="alinhamento_elementos">
                    <h3>Alunos:</h3>
                    <p>Matheus dos Santos Costa</p>
                    <p>Lucas Francisco Barbosa</p>
                </div>
                <div class="alinhamento_elementos">
                    <h3>Contato:</h3>
                    <p>E-mail: Sr_Ciência@gmail.com</p>
                    <p>WhatsApp: (84) 9421-2168</p>
                    <p>Instagram: Senhor_Cciência</p>
                    <p>Twitter: @Ciência.Sr</p>
                </div>
            </div>
            <div class="alinhamento_logo">
                <figure>
                    <img src="logo_branca.svg" alt="Logo branca" class="logo_branca">
                </figure>
            </div>
        </section>
    </footer>
</body>
</html>